.pdp-tab-content {
  width: 100%;
  padding: 1em;
  order: 1;
  /* background: #ddd; */
}

input[type=radio]:checked + label {
  background: #2c3947;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}
input[type=radio]:checked + label + .pdp-tab-content {
  display: block;
}
.pdp-tab-content h1{
  text-align: center;
  font-size: 23px;
}    
